// ##############################
// ######### Couleur ############
// ##############################

$une: #a0d6c6;
$deux:#e1daca;
$trois: #ffff9f;
$quatre: #f7f2f6;
$cinq: white;
$six: black;
$sept: #00c3f7;
$huit: #f968d7;
$principale: rgba(12, 12, 12, 0.863);
$secondaire: rgba(0, 0, 6, 0.863);

$color_nav:rgba(130, 139, 138, 0.5);

@mixin  couleur($background, $color){
    @if $background == 0{}
    @else if $background == 1{background-color: $une;}
    @else if $background == 2{background-color: $deux;}
    @else if $background == 3{background-color: $trois;}
    @else if $background == 4{background-color: $quatre;}
    @else if $background == 5{background-color: $cinq;}
    @else if $background == 6{background-color: $six;}
    @else if $background == 7{background-color: $sept;}
    @else if $background == 8{background-color: $huit;}
    @else if $background == 9{background-color: $color_nav;}

    @if $color == 0{}
    @else if $color == 1{color: $une;}
    @else if $color == 2{color: $deux;}
    @else if $color == 3{color: $trois;}
}



