@import "color.scss";
footer{
	h1{
	font-family: 'PatuaOne-Regular';
	margin-bottom: 30px;
	}
	@include couleur(5,6);
	font-family: 'Redoura';
	padding-top: 20px;

	.avatar{
		@include couleur(1,6);
	}
}
