@import "color.scss";

header{
//@include couleur(4,4);
margin-bottom:30px;
padding-bottom:10px;
	.bus{
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 250px;
		//background-image: url('../../img/bus1.svg') ;
    	//background-position: top center;
 		//background-repeat: no-repeat;
	}

	#fixed-header{
		position: sticky;
		z-index: 99999;
		width: 100%;
		top: 0;
		background: rgba(255, 255, 255, 0.45);
	}
	h1{
		transform:  rotate(4deg);  
		background-color: #B4BDB3;
		//font-family: 'GrandHotel-Regular';
		font-family: 'PatuaOne-Regular';
		font-size: 40px;
		margin-right: 50px;
		width: 37%;
		color: #fff;
		margin-top: 30px;
		text-shadow: 2px 2px 2px #8d6e6e;
		//letter-spacing: 5px;

	}
	p{
		position: fixed;
		 font-family: 'showg';
		 margin-left: 19%;
		font-size: 25px;
		color: #4b5555;
		margin-top: 35px;
	}
	.menu{

		text-align: center;
		nav{
			width: 100%;
			padding-top: 125px;
			.navbar-collapse{
				//@include couleur(7,6);
			}
			.respons
				{
					width: 100%;
				}
						ul{
							width: 100%;
							margin: auto;
							//padding-bottom: 20px;
				//@include couleur(4,6);
				li{
					margin-top: 200px;
					background-color: #b4bdb3;
					margin: auto;
					width: 12%;
					//@include couleur(1,6);
					//border-top:1px dashed green;

					a{
						font-family: 'PatuaOne-Regular';
						color:#fff;
						font-size:16px;
						//margin-right: 13px;
						//text-shadow: 2px 2px 2px #768775;
						.menu-item::before
						{
							content: '';
							display: block;
						}

					}
					i{
						text-shadow: 1px 1px 1px #768775;
						
						//padding-right: 10px;
						color: #fff;
						font-size:30px;
					}
					a:hover{
						background-color: #F7FCA9;
						color: white;
					}
				}
				li:hover{
					
					@include couleur(5,6);
					
					i{
						color: #ea8380;
					}
					a:hover{
						color: #ea8380;
					}
				}
			}
		}	
	}
	.carousel{
.img-fluid{
	min-height: 250px;
	max-height: 450px;
}
}
}