// ###########################
// ######### Head ############
// ###########################
@import "color.scss";
body 
{
    margin: 0;
    padding: 0;
    @include couleur(2,3);
    font-family: 'PlayfairDisplay-Regular';
    
}