@import "color.scss";
.slide{
	//background-color: #F7FCA9;
	margin-top: 20px;
	.carousel-inner {
		.carousel-item {
			h3{ 
			animation-delay : 0.4s;
			color: #fa4b08;
			font-size: 30px;
			}
			p{ 
			animation-delay : 1s;
			color: #fa4b08;
			font-size: 20px;
			}  
		}
	}
}